<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Enter the following words to generate a story</h1>
    <form action="/Game" method="post">

     <label for="subject">A subject you study</label>
     <input id="subject" name="subject" type="text">

     <label for="emotion1">An emotion</label>
     <input id="emotion1" name="emotion1" type="text">

    <label for="place">A place</label>
    <input id="place" name="place" type="text">

    <label for="noun">A noun</label>
    <input id="noun" name="noun" type="text">

    <label for="emotion2">Another emotion </label>
    <input id="emotion2" name="emotion2" type="text">

    <label for="bodyFunction">A bodily function, past tense </label>
    <input id="bodyFunction" name="bodyFunction" type="text">

    <label for="clothing">An article of clothing</label>
    <input id="clothingItem" name="clothingItem" type="text">

     <button type="submit">Go!</button>

    </form>
  </body>
</html>
